[submodule "home/.vim/bundle/fugitive"]
	path = home/.vim/bundle/fugitive
	url = http://github.com/tpope/vim-fugitive.git
[submodule "home/.vim/bundle/nerdtree"]
	path = home/.vim/bundle/nerdtree
	url = http://github.com/scrooloose/nerdtree.git
[submodule "home/.vim/bundle/vim-powerline"]
	path = home/.vim/bundle/vim-powerline
	url = http://github.com/Lokaltog/vim-powerline
[submodule "home/.vim/bundle/gundo"]
	path = home/.vim/bundle/gundo
	url = http://github.com/sjl/gundo.vim.git
[submodule "home/.vim/bundle/ctrlp"]
	path = home/.vim/bundle/ctrlp
	url = http://github.com/kien/ctrlp.vim.git
[submodule "home/.vim/bundle/ack"]
	path = home/.vim/bundle/ack
	url = http://github.com/mileszs/ack.vim.git
[submodule "home/.vim/bundle/solarized"]
	path = home/.vim/bundle/solarized
    url = git://github.com/altercation/vim-colors-solarized.git

